.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button{
    width:45px;
    height: 45px;
    margin:3px;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);

}
.button:hover{
    background-color: rgb(169, 169, 248);
    color: rgb(22, 1, 100);
}